.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;

	@media only screen and (max-width: $bp-largest) {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: var(--color-white);
	border-bottom: var(--line);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	justify-content: flex-start;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 20%;

	//for chilren
	display: flex;
	flex-direction: column;
	// justify-content: stretch;
}

.hotel-view {
	background-color: var(--color-white);
	flex: 1;

	//
	// height: 80rem;
	// background-color: red;
}

.detail {
	display: flex;
	padding: 4.5rem;
	background-color: var(--color-grey-light-1);
	border-bottom: var(--line);
	font-size: 1.4rem;
	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
	}

	@media only screen and (max-width: $bp-small) {
		flex-direction: column;
		// margin-bottom: 2rem;
	}
}

.description {
	flex: 0 0 60%;
	padding: 3rem;
	background-color: var(--color-white);
	box-shadow: var(--shadow-light);
	margin-right: 4.5rem;

	@media only screen and (max-width: $bp-medium) {
		margin-right: 2rem;
		padding: 2rem;
	}
	@media only screen and (max-width: $bp-small) {
		margin-bottom: 2rem;
		margin-right: 0;
	}
}
.user-reviews {
	flex: 1;
	// text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (max-width: $bp-small) {
		// margin-bottom: 2rem;
		// margin-right: 0;
	}
}
